<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://caucho.com/ns/resin">
    <servlet>
        <servlet-name>Join</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pachume</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePachume</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLocation</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImage</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeBackgroundColor</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadBackgroundImage</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeBackgroundImageRepeat</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpamPachume</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFriend</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeFriend</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComment</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateChannel</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpamComments</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinChannel</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveChannel</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadChannelAvatar</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeChannelBackgroundColor</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadChannelBackgroundImage</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet><servlet-name>changeChannelBackgroundImageRepeat</servlet-name>
    <servlet-class>controller.Main</servlet-class></servlet>
    <servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGroup</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveGroup</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChannel</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadGroupAvatar</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeGroupBackgroundColor</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeGroupBackgroundImageRepeat</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadGroupBackgroundImage</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroup</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>captcha</servlet-name>
        <servlet-class>security.captcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmail</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeNotification</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inviteToGroup</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API</servlet-name>
        <servlet-class>api.API</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APILogin</servlet-name>
        <servlet-class>api.APILogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Join</servlet-name>
        <url-pattern>/Join</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pachume</servlet-name>
        <url-pattern>/Pachume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePachume</servlet-name>
        <url-pattern>/DeletePachume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLocation</servlet-name>
        <url-pattern>/UpdateLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImage</servlet-name>
        <url-pattern>/uploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeBackgroundColor</servlet-name>
        <url-pattern>/changeBackgroundColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadBackgroundImage</servlet-name>
        <url-pattern>/uploadBackgroundImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeBackgroundImageRepeat</servlet-name>
        <url-pattern>/changeBackgroundImageRepeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpamPachume</servlet-name>
        <url-pattern>/SpamPachume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFriend</servlet-name>
        <url-pattern>/addFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFriend</servlet-name>
        <url-pattern>/removeFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComment</servlet-name>
        <url-pattern>/PostComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateChannel</servlet-name>
        <url-pattern>/CreateChannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpamComments</servlet-name>
        <url-pattern>/SpamComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinChannel</servlet-name>
        <url-pattern>/JoinChannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveChannel</servlet-name>
        <url-pattern>/LeaveChannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadChannelAvatar</servlet-name>
        <url-pattern>/uploadChannelAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeChannelBackgroundColor</servlet-name>
        <url-pattern>/changeChannelBackgroundColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadChannelBackgroundImage</servlet-name>
        <url-pattern>/uploadChannelBackgroundImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeChannelBackgroundImageRepeat</servlet-name>
        <url-pattern>/changeChannelBackgroundImageRepeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/CreateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGroup</servlet-name>
        <url-pattern>/JoinGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveGroup</servlet-name>
        <url-pattern>/LeaveGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChannel</servlet-name>
        <url-pattern>/DeleteChannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadGroupAvatar</servlet-name>
        <url-pattern>/uploadGroupAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeGroupBackgroundColor</servlet-name>
        <url-pattern>/changeGroupBackgroundColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeGroupBackgroundImageRepeat</servlet-name>
        <url-pattern>/changeGroupBackgroundImageRepeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadGroupBackgroundImage</servlet-name>
        <url-pattern>/uploadGroupBackgroundImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroup</servlet-name>
        <url-pattern>/DeleteGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>captcha</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmail</servlet-name>
        <url-pattern>/UpdateEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeNotification</servlet-name>
        <url-pattern>/changeNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inviteToGroup</servlet-name>
        <url-pattern>/inviteToGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API</servlet-name>
        <url-pattern>/API</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APILogin</servlet-name>
        <url-pattern>/APILogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
