.join_left_column_form_captcha_button{background-color:#cc0000;border:1px #000 solid;cursor:pointer;float:right;font-family:inherit;font-size:22px;font-weight:bold;height:30px;left:2px;position:relative;text-align:left;width:146px;}
.join_left_column_form_captcha_image{border:2px #000 solid;height:26px;margin-bottom:5px;width:144px;}
.join_left_column_form_captcha_input{background-color:#faffbd;border:1px #ccc solid;font:inherit;font-size:18px;font-weight:bold;height:23px;margin-bottom:5px;padding-top:4px;text-align:center;width:146px;}

.join_left_column_form_container{background-color:#fff;border:1px #000 solid;margin-bottom:10px;margin-left:150px;margin-right:auto;margin-top:10px;padding-bottom:15px;padding-top:10px;width:384px;}

.join_left_column_form_input_container{font-family:'Courier New', Courier, monospace;margin-left:auto;margin-right:auto;margin-top:5px;width:300px;}
.join_left_column_form_input_label{font-size:22px;font-weight:bold;margin-bottom:-5px;}
.join_left_column_form_input_submit{background-color:#66cc00;border:1px #000 solid;cursor:pointer;font-family:inherit;font-size:22px;font-weight:bold;margin-left:156px;margin-top:4px;text-align:left;width:146px;}
.join_left_column_form_input_text{background-color:#faffbd;border:1px #ccc solid;font-family:inherit;font-size:22px;min-height:27px;width:300px;}

.join_left_column_form_verification_output{background-color:yellow;font-size:12px;}

.join_right_column_body{background-color:#fff;border:3px #000 solid;font-family:arial;font-size:14px;margin:10px 22px 5px 22px;padding:5px 22px;}
.join_right_column_body_bullet{background-color:#66cc00;border:3px #000 solid;float:left;height:5px;left:-1px;margin:2px 5px 20px -16px;position:relative;top:-4px;width:5px;}