.people_left_column_image{background-color:#66CC00;border:5px solid #44AA00;text-decoration:none;}
.people_left_column_image_container{background-color:#fff;border:3px #000 solid;float:left;margin:12px 5px 5px 12px;padding:10px;text-align:center;width:112px;}

.people_left_column_screen_name{background-color:#a9d4ff;color:#000;font-family:arial;font-size:12px;padding:0px 4px;}