.viewport_inner_container_page{margin-left:auto;margin-right:auto;position:relative;top:-30px;width:885px;}

.viewport_outer_container_body{position:relative;top:-15px;}
.viewport_outer_container_page{margin:0px;}

.viewport_valid_element_container{display:inline;}

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td{margin:0;padding:0;}